.debt-card-body {
    display: flex;
}

.topbar-card-wrapper {
    width: 100%;
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, 10px) scale(0.75);
    text-align: initial;
}