.sidebar {
  background: white;
  height: 90vh;
  padding: 1rem;
}

.icons {
  font-size: 2.5rem;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around !important;
  z-index: 2;
}

.icons i:hover {
  cursor: pointer;
  color: #757e7d;
  transition: 0.5s ease-in-out all;
}

